# This fixes a weird python nix interaction issue, see
# https://nixos.org/nixpkgs/manual/#python-setup.py-bdist_wheel-cannot-create-.whl
export SOURCE_DATE_EPOCH=315532800

if has nix; then
    if has lorri; then
        eval "$(lorri direnv)"
    else
        use nix
    fi
fi

layout pipenv

export FLASK_ENV=development

export CORONA_SIGN_IN_SECRET_KEY=INSECURE_ONLY_FOR_DEVELOPMENT

export CORONA_SIGN_IN_DATABASE_URI=sqlite:///`expand_path db.sqlite`

source_env .env
