[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pre-commit = "*"
pytest = "*"
pytest-testmon = "*"
pytest-watch = "*"
pytest-flask = "*"
black = "==21.7b0"
selenium = "*"
pytest-selenium = "*"
pytest-flask-sqlalchemy = "*"
invoke = "*"
requests = "*"
beautifulsoup4 = "*"
faker = "*"

[packages]
flask = "*"
flask-wtf = "*"
flask-sqlalchemy = "*"
flask-migrate = "*"

# pytest-flask-sqlalchemy is broken with sqlalchemy~=1.4.
# We don't usually need this as an explicit dependency, but let's keep it here until
# https://github.com/jeancochrane/pytest-flask-sqlalchemy/issues/50 is resolved.
sqlalchemy = "==1.3.*"

unicode-slugify = "*"
cwa-qr = "*"

[requires]
python_version = "3.9"
