[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pre-commit = "*"
pytest = "*"
pytest-testmon = "*"
pytest-watch = "*"
pytest-flask = "*"
black = "==19.10b0"
selenium = "*"
pytest-selenium = "*"
pytest-flask-sqlalchemy = "*"
freezegun = "*"
request = "*"

[packages]
flask = "*"
flask-wtf = "*"
flask-sqlalchemy = "*"
flask-migrate = "*"

[requires]
python_version = "3.8"
