html {
  margin: 0 auto;
  width: 32rem;
  max-width: 90%;
}

body {
  margin: 0;
  font-family: -apple-system, Montserrat, BlinkMacSystemFont, "Segoe UI",
    "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
    "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #424242;
}

form {
  margin: 2rem 0;
}

input,
textarea,
select {
  box-sizing: border-box;
  background: none;
  background-color: white;
  font-family: Montserrat, Arial, Helvetica, sans-serif;
  font-size: 1.2rem;
  font-weight: bold;
  padding: 0.5rem;
  display: block;
  width: 100%;
  border: none;
  border-radius: 0;
  border-bottom: 1px solid #424242;
  margin: 0.5rem 0 3rem;
}

input:focus,
textarea:focus {
  outline: none;
  border-bottom: 1px solid #fea;
  background-color: #fea;
}

input[type="checkbox"] {
  appearance: none;
  width: 1.5rem;
  height: 1.5rem;
  border: 1px solid #424242;
  margin: 0 1rem 0 0.5rem;
}

input[type="submit"] {
  background-color: #e31d17;
  border: 3px solid #e31d17;
  color: white;
  cursor: pointer;
  font-size: 1.125rem;
  text-transform: uppercase;
}

input[type="submit"]:hover {
  background-color: transparent;
  color: #e31d17;
}

input.has_error,
textarea.has_error,
select.has_error {
  border: 1px solid #e31d17;
}

select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-image: url("../images/caret.svg");
    background-repeat: no-repeat;
    background-size: 13px 8px;
    background-position-y: calc(50% - 3px);
    background-position-x: calc(100% - 10px);
    padding-right: 32px;
}

select:invalid {
    color: #999999;
}
select[required] > option[value=""] {
    display: none;
}

.errors {
  color: #e31d17;
  margin-bottom: 0;
  padding: 0;
  list-style: none;
}

label {
  font-size: 1.125rem;
  font-weight: normal;
}

h1 {
  font-family: Monoton, cursive;
  font-weight: 400;
  line-height: 2.2rem;
  font-size: 1.5rem;
  text-align: center;
  text-transform: uppercase;
  margin: 0 0 1rem 0;
}

.highlight {
  color: #e31d17;
  font-size: 2.5rem;
  margin: 1rem 0 0;
}

h2 {
  font-size: 1.2rem;
  margin: 1rem auto 0.25rem;
  color: #111111;
  line-height: 1.75rem;
  text-transform: uppercase;
  text-align: center;
  line-height: 1.2rem;
  font-weight: 800;
}

a {
  color: #e31d17;
  text-decoration: none;
  padding: 0 0.25rem;
}

a:hover,
a:focus {
  text-decoration: underline;
}

.header-container {
  margin: 1.5rem auto;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.logo {
  height: 6rem;
  width: 100%;
}

.contact-form-container {
  margin: 1.5rem auto;
}

.description {
  font-size: 1rem;
  text-align: center;
  display: block;
  margin: 0.5rem 0;
}

.footer-container {
  margin: 0 auto 1.5rem;
  font-size: 0.9375rem;
}

.footer-row {
  text-align: center;
  margin-bottom: 0.5rem;
}

.checkbox-group {
  display: flex;
  align-items: center;
  margin: 2rem 0;
}

.checkbox-group > label,
.checkbox-group > input {
  cursor: pointer;
}

.image-container {
  margin: 2.5rem auto 3rem;
  height: 12.5rem;
  display: flex;
  justify-content: center;
}

.image-container > img {
  height: 9.5rem;
  margin: 0 1rem;
}

.image-container > img:nth-child(2) {
  align-self: flex-end;
}

.error-container {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
}

.error-container > img {
  width: 4rem;
  height: auto;
  margin: 0.5rem;
}
