body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #424242;
}

form {
  margin: 2rem 0;
}

input,
textarea {
  box-sizing: border-box;
  background: none;
  background-color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.2rem;
  font-weight: bold;
  padding: 0.5rem;
  display: block;
  width: 100%;
  border: none;
  border-radius: 0;
  border-bottom: 1px solid #424242;
  margin: 0.5rem 0 3rem;
}

input:focus,
textarea:focus {
  outline: none;
  border-bottom: 1px solid #fea;
  background-color: #fea;
}

input[type="checkbox"] {
  appearance: none;
  width: 1.5rem;
  height: 1.5rem;
  border: 1px solid #424242;
  margin: 0 1rem 0 0.5rem;
}

input[type="submit"] {
  background-color: #e31d17;
  border: 3px solid #e31d17;
  color: white;
  cursor: pointer;
  font-size: 1rem;
}

input[type="submit"]:hover {
  background-color: transparent;
  color: #e31d17;
}

label {
  font-size: 1rem;
  font-weight: normal;
}

h2 {
  font-family: NobileBold, Arial, Helvetica;
  font-size: 1.2rem;
  margin: 1rem auto;
  color: #111111;
  border-bottom: 3px solid #111111;
  line-height: 1.75rem;
  text-transform: uppercase;
}

a {
  color: #e31d17;
  text-decoration: none;
  font-size: 0.8125rem;
}

a:hover,
a:focus {
  text-decoration: underline;
}

.header-container {
  margin: 1.5rem auto;
  width: 500px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  max-width: 90%;
}

.logo {
  height: 8rem;
}

.contact-form-container {
  margin: 1.5rem auto;
  width: 500px;
  max-width: 90%;
}

.description {
  font-size: 0.8125rem;
  text-align: center;
  display: block;
}

.footer-container {
  max-width: 90%;
  margin: 0 auto 1.5rem;
  text-align: center;
}

.checkbox-group {
  display: flex;
  align-items: center;
  margin: 2rem 0;
}

.checkbox-group > label,
.checkbox-group > input {
  cursor: pointer;
}

.image-container {
  margin: 4rem auto;
  width: 500px;
  height: 12.5rem;
  max-width: 70%;
  display: flex;
  justify-content: center;
}

.image-container > img {
  height: 9.5rem;
  margin: 0 1rem;
}

.image-container > img:nth-child(2) {
  align-self: flex-end;
}
