<div class="footer-container">
    <div class="footer-row">
        <span>Wir verwenden keine Cookies</span>
    </div>
    <div class="footer-row">
        <a href="https://das-gaengeviertel.info/meta/impressum.html">Impressum</a>
        <span>&middot;</span>
        <a href="{{ url_for("data_protection") }}">Datenschutz</a>
    </div>
    <div class="footer-row">
        <a href="https://github.com/voidus/coronaSignIn">Diese Anwendung ist freie Software</a>
    </div>
</div>
