<div class="footer-container">
    <div class="footer-row">
        <span>Wir verwenden keine Cookies.</span>
    </div>
    <div class="footer-row">
        <a href="https://das-gaengeviertel.info/meta/impressum.html" target="_blank">Impressum</a>
        <span>&middot;</span>
        <a href="{{ url_for("data_protection") }}">Datenschutz</a>
    </div>
    <br />
    <div class="footer-row">
        <a href="https://github.com/gaengeviertel/coronaSignIn" target="_blank">Diese Anwendung ist freie Software. <br /> Hier geht's zum Sourcecode auf Github.</a>
    </div>
</div>
