{% extends "layout.html.jinja2" %}

{% block title %}Datenschutz{% endblock %}

{% block content %}
<h5>
    <!-- sub headline -->
</h5>
<p>
  <!-- content -->
</p>

<h5>
    <!-- sub headline -->
</h5>
<p>
  <!-- content -->
</p>

{% endblock %}
