{% extends "layout.html.jinja2" %}

{% block title %}Datenschutz{% endblock %}

{% block content %}
<h5>
    Anbieter und verantwortliche Stelle im Sinne des Datenschutzgesetzes
</h5>
<pre>
  Verein Gängeviertel e.V.
  Vertreten durch den Vorstand
  Valentinskamp 28a
  20355 Hamburg
  verein@das-gaengeviertel.info
</pre>

<h5>Geltungsbereich</h5>
<p>
  NutzerInnen erhalten mit dieser Datenschutzerklärung Information über die Art, den
  Umfang und Zweck der Erhebung und Verwendung ihrer Daten, die durch den
  verantwortlichen Anbieter erhoben und verwendet werden.

  Den rechtlichen Rahmen für den Datenschutz bilden das Bundesdatenschutzgesetz (BDSG)
  und das Telemediengesetz (TMG).
</p>

<h5>Erfassung allgemeiner Informationen</h5>
<p>
  Mit jedem Zugriff auf dieses Angebot werden durch uns bzw. den Webspace-Provider
  automatisch Informationen erfasst. Diese Informationen, auch als Server-Logfiles
  bezeichnet, sind allgemeiner Natur und erlauben keine Rückschlüsse auf Ihre Person.

  Erfasst werden unter anderem: Name der Webseite, Datei, Datum, Datenmenge, Webbrowser
  und Webbrowser-Version, Betriebssystem, der Domainname Ihres Internet-Providers, die
  sogenannte Referrer-URL (jene Seite, von der aus Sie auf unser Angebot zugegriffen
  haben) und die IP-Adresse.

  Ohne diese Daten wäre es technisch teils nicht möglich, die Inhalte der Webseite
  auszuliefern und darzustellen. Insofern ist die Erfassung der Daten zwingend
  notwendig. Darüber hinaus verwenden wir die anonymen Informationen für statistische
  Zwecke. Sie helfen uns bei der Optimierung des Angebots und der Technik. Wir behalten
  uns zudem das Recht vor, die Log-Files bei Verdacht auf eine rechtswidrige Nutzung
  unseres Angebotes nachträglich zu kontrollieren.
</p>

<h5>Erfassung und Umgang mit personenbezogenen Daten</h5>
<p>
  Definition: Als personenbezogene Daten gelten alle Informationen, anhand derer eine
  Person eindeutig identifizierbar ist. Es handelt sich somit um Daten, die zu einer
  Person zurückverfolgt werden können.

  Zu diesen personenbezogenen Daten zählen der Vorname und der Name, die Telefonnummer,
  sowie die E-Mail-Adresse. Ebenso als personenbezogene Daten gelten Informationen zu
  Hobbies, Mitgliedschaften und Vorlieben sowie Internetseiten, die aufgerufen wurden.

  Diese Daten werden vom Anbieter nur erhoben, genutzt und gegebenenfalls weitergegeben,
  sofern der Gesetzgeber dies ausdrücklich erlaubt oder aber der Nutzer in die Erhebung,
  Bearbeitung, Nutzung und Weitergabe der Daten einwilligt.
</p>

<h5>Personenbezogene Daten im Zusammenhang mit der SARS-CoV-2 Eindämmungsverordnung</h5>
<p>
  Gemäß der Hamburgischen SARS-CoV-2-Eindämmungsverordnung "HmbSARS-CoV-2-EindämmungsVO"
  (gültig ab 1. Juli 2020), Teil 3, Paragraph 7 sind wir verpflichtet, folgende
  personenbezogene Daten zu sammeln, die eine Rückverfolgbarkeit möglicher
  Infektionsketten möglich machen: Vorname, Name, Wohnanschrift, Telefonnummer. Gemäß §§
  16, 25 IfSG ist der Verein Gängeviertel e.V. dem Gesundheitsamt gegenüber zur Auskunft
  und damit Herausgabe der relevanten Daten verpflichtet. Jegliche andere Nutzung oder
  Weitergabe der Daten ist hiermit ausgeschlossen. Die Daten werden lokal auf einem
  Server des Vereins Gängeviertel e.V. vier Wochen gespeichert und dann automatisch
  gelöscht. Sollten sich Personen der Erhebung der Kontaktdaten verweigern, ist der
  Verein Gängeviertel e.V. verpflichtet, diese vom Besuch oder der Nutzung der
  Einrichtungen sowie der Teilnahme an Veranstaltungen auszuschließen.
</p>

<h5>Cookies, Tracking und Dienste Dritter</h5>
<p>
  Diese Webseite nutzt keine Cookies und keine Nutzer-Tracking-Dienste oder sonstige
  Dienste. Bei aktiver Einwilligung "Daten fürs naechste Mal auf diesem Gerät
  speichern" werden personenbezogene Daten im Browser-Cache des Gerätes hinterlegt.
</p>

<h5>Datensparsamkeit</h5>
<p>
  Personenbezogene Daten speichern wir gemäß den Grundsätzen der Datenvermeidung und
  Datensparsamkeit nur so lange, wie es erforderlich ist oder vom Gesetzgeber her
  vorgeschrieben wird (gesetzliche Speicherfrist). Entfällt der Zweck der erhobenen
  Informationen oder endet die Speicherfrist, sperren oder löschen wir die Daten.
</p>

<h5>Ihre Rechte auf Auskunft, Berichtigung, Sperre, Löschung und Widerspruch</h5>
<p>
  Sie haben das Recht, auf Antrag unentgeltlich eine Auskunft, über die bei uns
  gespeicherten personenbezogenen Daten, anzufordern und/oder eine Berichtigung,
  Sperrung oder Löschung zu verlangen. Ausnahmen: Es handelt sich um die vorgeschriebene
  Datenspeicherung zur Geschäftsabwicklung oder die Daten unterliegen der gesetzlichen
  Aufbewahrungspflicht.

  Für diese Zwecke kontaktieren Sie bitte unseren Datenschutzbeauftragen (Kontaktdaten:
  am Anfang der Datenschutzerklärung).

  Um eine Datensperre jederzeit berücksichtigen zu können, ist es erforderlich, die
  Daten für Kontrollzwecke in einer Sperrdatei vorzuhalten. Besteht keine gesetzliche
  Archivierungspflicht, können Sie auch die Löschung der Daten verlangen. Anderenfalls
  sperren wir die Daten, sofern Sie dies wünschen.
</p>

<h5>Änderung unserer Datenschutzerklärung</h5>
<p>
  Um zu gewährleisten, dass unsere Datenschutzerklärung stets den aktuellen gesetzlichen
  Vorgaben entspricht, behalten wir uns jederzeit Änderungen vor. Das gilt auch für den
  Fall, dass die Datenschutzerklärung aufgrund neuer oder überarbeiteter Leistungen, zum
  Beispiel neuer Serviceleistungen, angepasst werden muss. Die neue Datenschutzerklärung
  greift dann bei Ihrem nächsten Besuch auf unserem Angebot.
</p>
{% endblock %}
