<!DOCTYPE html>
<html class="no-js" lang="">
  <head>
    <meta charset="utf-8" />
    <title>Uups...</title>
    <link rel="stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/main.css') }}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='images/favicon.ico')}}">
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
  </head>

  <body>
    <div class="error-container">
        <h2>Uups... Error 500</h2>
        <p class="description">Versuch's bitte später nochmal!</p>
        <span class="description">Sorry! Das ist nicht deine Schuld, sondern unsere – wir arbeiten dran.</span>
    </div>
  </body>
</html>
