{% extends "base.html.jinja2" %}

{% block title %}Upps...{% endblock %}
{% block body %}
  <div class="error-container">
      <img src="/static/images/error.jpg" alt="" />
      <h1 class="highlight">Uups...</h1>
      <h1>Error 500</h1>
      <h2>Versuch's bitte später nochmal!</h2>
      <span class="description">Sorry! Das ist nicht deine Schuld, sondern unsere – wir arbeiten dran.</span>
  </div>
{% endblock %}
