<!DOCTYPE html>
<html class="no-js" lang="">
  <head>
    <meta charset="utf-8" />
    <title>Coronaschutz</title>
    <link rel="stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/main.css') }}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='images/favicon.ico')}}">
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
  </head>

  <body>
  <div class="header-container">
  <img src="/static/images/logo.svg" alt="Komm in die Gänge" class="logo"  />
    <h2>Moin lieber Gast!</h2>
    <span class="description">Aktuell sind wir zum Zweck der Nachverfolgung von Infektionsketten verpflichtet folgende Kontaktdaten unserer Gäste unter Angabe des Datums zu erfassen:</span>
  </div>
  <div class="contact-form-container">
    <form method=POST action>
        {{ form.csrf_token }}
        {{ form.first_name.label }} {{ form.first_name }}
        {{ form.last_name.label }} {{ form.last_name }}
        {{ form.contact_data.label }} {{ form.contact_data }}
        <div  class="checkbox-group">
          <input id="save_for_next_time" type="checkbox" />
          <label for="save_for_next_time">Daten fürs nächste Mal auf diesem Gerät speichern</label>
        </div>
        <input type="submit" value="Jetzt einchecken" />
    </form>
    </div>
    <div class="footer-container">
      <span>Wir verwenden keine Cookies</span>
      <span>&middot;</span>
      <a href="https://das-gaengeviertel.info/meta/impressum.html">Impressum</a>
      <span>&middot;</span>
      <a href="https://das-gaengeviertel.info/meta/datenschutz.html">Datenschutz</a>
    </div>
    <script type=text/javascript src="{{ url_for('static', filename='javascript/main.js') }}"></script>
  </body>
</html>
