{% extends "layout.html.jinja2" %}
{% from "_render_field.html.jinja2" import render_field %}

{% block title %}Corona Prävention{% endblock %}

{% block headercontent %}
<h1 class="highlight">Corona</h1>
<h1>Prävention</h1>
<h2>Moin lieber Gast!</h2>
<span class="description">
    Aktuell sind wir zum Zweck der Nachverfolgung von Infektionsketten verpflichtet, 
    folgende Kontaktdaten unserer Gäste unter Angabe des Datums zu erfassen. Die Daten 
    werden nach 4 Wochen gelöscht. Detaillierte Informationen sind unter Datenschutz 
    einsehbar.
</span>
{% endblock %}

{% block content %}
    <div class="contact-form-container">
        <form method=POST action novalidate>
            {{ form.csrf_token }}
            {{ render_field(form.first_name) }}
            {{ render_field(form.last_name) }}
            {{ render_field(form.street_and_house_number) }}
            {{ render_field(form.plz_and_city) }}
            {{ render_field(form.phone_number) }}
            <div  class="checkbox-group">
                <input id="save_for_next_time" type="checkbox" />
                <label for="save_for_next_time">
                    Daten fürs nächste Mal auf diesem Gerät speichern
                </label>
            </div>
            <input type="submit" value="Jetzt einchecken" />
        </form>
    </div>
{% endblock %}

{% block scripts %}
    <script
        type=text/javascript
        src="{{ url_for('static', filename='javascript/main.js') }}"
    ></script>
{% endblock %}
