<!DOCTYPE html>
<html class="no-js" lang="">
  <head>
    <meta charset="utf-8" />
    <title></title>
    <link rel="stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/main.css') }}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='images/favicon.ico')}}">
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    {#
    <meta property="og:title" content="" />
    <meta property="og:type" content="" />
    <meta property="og:url" content="" />
    <meta property="og:image" content="" />

    <link rel="manifest" href="site.webmanifest" />
    <link rel="apple-touch-icon" href="icon.png" />
    <!-- Place favicon.ico in the root directory -->

    <link rel="stylesheet" href="css/normalize.css" />
    <link rel="stylesheet" href="css/main.css" />

    <meta name="theme-color" content="#fafafa" />
    #}
  </head>

  <body>
  <div class="header-container">
  <img src="/static/images/logo.svg" alt="Komm in die Gänge" class="logo"  />
    <h2>Moin lieber Gast!</h2>
    <span class="description">Aktuell sind wir zum Zweck der Nachverfolgung von Infektionsketten verpflichtet folgende Kontaktdaten unserer Gäste unter Angabe des Datums zu erfassen:</span>
  </div>
  <div class="contact-form-container">
    <form method=POST action>
        {{ form.csrf_token }}
        {{ form.first_name.label }} {{ form.first_name }}
        {{ form.last_name.label }} {{ form.last_name }}
        {{ form.contact_data.label }} {{ form.contact_data }}
        <div  class="checkbox-group"> 
          <input id="save_for_next_time" type="checkbox" />
          <label for="save_for_next_time">Daten fürs nächste Mal auf diesem Gerät speichern</label>
        </div>
        <input type="submit" value="Jetzt einchecken" />
    </form>
    </div>
    <div class="footer-container">
      <a href="https://das-gaengeviertel.info/meta/impressum.html">Impressum</a>
    </div>
    {#
    <script src="js/vendor/modernizr-3.11.2.min.js"></script>
    <script src="js/plugins.js"></script>
    <script src="js/main.js"></script>
    #}
    <script>
      window.onload = function () {
        const storedData = JSON.parse(
          window.localStorage.getItem("saved-form")
        );
        if (storedData !== null && typeof storedData === "object") {
          if (storedData.first_name) {
            document.getElementById("first_name").value = storedData.first_name;
          }
          if (storedData.last_name) {
            document.getElementById("last_name").value = storedData.last_name;
          }
          if (storedData.contact_data) {
            document.getElementById("contact_data").value =
              storedData.contact_data;
          }
          // They selected save for later last time, so we assume they want to keep that
          document.getElementById("save_for_next_time").checked = true;
        }

        document
          .getElementsByTagName("form")[0]
          .addEventListener("submit", function () {
            if (document.getElementById("save_for_next_time").checked) {
              window.localStorage.setItem(
                "saved-form",
                JSON.stringify({
                  first_name: document.getElementById("first_name").value,
                  last_name: document.getElementById("last_name").value,
                  contact_data: document.getElementById("contact_data").value,
                })
              );
            } else {
              window.localStorage.clear();
            }
          });
      };
    </script>
  </body>
</html>
