{% extends "layout.html.jinja2" %}

{% block title %}Danke!{% endblock %}

{% block headercontent %}
  <h1 class="highlight">Danke</h1>
  <h2>Viel Spaß im Gängeviertel!</h2>
  <span class="description">Dein Eintrag wurde in unserer Datenbank gespeichert.</span>
  {% if cwa_url %}
    <div class="description">
      Falls Sie die Corona-Warn-App verwenden können Sie sich über diesen
      <div>
        <a href="{{cwa_url}}">Link für die Veranstaltung einchecken.</a>
      </div>
      Sollte bei einem Teilnehmer dieser Veranstalltung SARS-CoV-2 nachgewiesen werden, erfolgt eine Warnung über die App schelller als es über die Kontakterfassung durch das Gesundheitsamt möglich ist.
    </div>
  {% endif %}
{% endblock %}

{% block content %}
  <div class="image-container">
      <img src="/static/images/mask-1.jpg" alt="Illustration Mundschutz" />
      <img src="/static/images/mask-2.jpg" alt="Illustration Mundschutz" />
  </div>
{% endblock %}
