<!DOCTYPE html>
<html class="no-js" lang="">
  <head>
    <meta charset="utf-8" />
    <title>Danke!</title>
    <link rel="stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/main.css') }}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='images/favicon.ico')}}">
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
  </head>

  <body>
  <div class="header-container">
  <img src="/static/images/logo.svg" alt="Komm in die Gänge" class="logo"  />
    <h2>Danke</h2>
    <span class="description">Viel Spaß im Gängeviertel!</div>
    <div class="footer-container">
      <a href="https://das-gaengeviertel.info/meta/impressum.html">Impressum</a>
    </div>
  </body>
</html>
