{% extends "layout.html.jinja2" %}

{% block title %}Danke!{% endblock %}

{% block headercontent %}
  <h1 class="highlight">Danke</h1>
  <h2>Viel Spaß!</h2>
  <span class="description">Dein Eintrag wurde in unserer Datenbank gespeichert.</span>
{% endblock %}

{% block content %}
  <div class="image-container"></div>
{% endblock %}
